/* FILE: components/products/products.css */

.product-content {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  text-align:     center;
}

.product-list {
  display:               grid;
  grid-template-columns: repeat(3, 1fr); /* Three items per row */
  grid-gap:              10px; /* Add a little space between each item */
  cursor:                pointer;
}

.product-item {
  display:          flex; /* Use Flexbox for individual product items */
  flex-direction:   column;
  align-items:      center;
  justify-content:  space-between; /* Changed to space-between */
  width:            100%;
  background-color: aliceblue; /* A light background */
  border-radius:    8px; /* Rounded corners */
  padding:          10px;
  box-sizing:       border-box;
}

.product-title {
  font-size:     16px;
  margin-bottom: 5px;
}

.product-image {
  display:         flex;
  justify-content: center;
  align-items:     center;
  height:          150px;
  overflow:        hidden;
  border-radius:   8px;
  margin-bottom:   10px;
}

.product-image img {
  margin:     0 auto;
  max-width:  100%;
  max-height: 100%;
  object-fit: contain;
}

.product-image {
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
  color:     #ff0072;
  cursor:    pointer;
  transform: scale(1.5);
}

.product-description {
  max-height:    80px; /* Limit the description's height */
  overflow:      hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.product-price {
  /* You can style the product price as needed */
  font-family: "Audiowide", serif;
  color:       black;
}

.product-price {
  transition: transform 0.3s ease-in-out;
}

.product-price:hover {
  color:     #ff0072;
  cursor:    pointer;
  transform: scale(1.5);
}

/* Update media queries to properly handle different screen sizes */

@media (max-width: 900px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* Two items per row on small screens */
  }
}

@media (max-width: 600px) {
  .product-list {
    grid-template-columns: 1fr; /* One item per row on very small screens */
  }
}
