/* FILE: about.css */
/* ________________________________________ */

.about-product {
  display:          flex;
  flex-direction:   column;
  align-items:      center;
  justify-content:  center;
  width:            55%; /* Decreased width */
  background-color: aliceblue;
  border-radius:    8px;
  padding:          10px; /* Increased padding */
  box-sizing:       border-box;
  text-align:       center;
  margin:           0 auto 10px; /* Increased margin */
}

.about-product h1 {
  font-size:     18px; /* Decreased font size */
  margin-bottom: 10px; /* Increased margin */
}

.about-product img {
  width:         50%;
  height:        180px; /* Decreased height */
  object-fit:    contain;
  border-radius: 5px;
  margin-bottom: 15px; /* Increased margin */
}

.about-product p {
  margin-bottom: 15px; /* Increased margin */
}

.about-product p.description {
  text-overflow:      ellipsis;
  display:            -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow:           hidden;
}

p.description {
  font-family: "Goldman Regular", serif;
}

.about-product .product-price {
  font-family: "Audiowide", serif;
  color:       black;
}

.about-info {
  max-width:        800px; /* Decreased max-width */
  margin:           0 auto;
  background-color: aliceblue;
  border-radius:    5px;
  padding:          15px; /* Increased padding */
  box-sizing:       border-box;
  text-align:       center;
}

.about-description {
  font-family:   "Goldman Regular", serif;
  max-height:    180px; /* Decreased max-height */
  overflow:      hidden;
  text-overflow: ellipsis;
}

/* Add this to your CSS file */

.button-container {
  display:         flex;
  justify-content: space-between;
  align-items:     stretch; /* This will make sure the buttons stretch to fill the container */
  width:           100%;
  margin-top:      20px; /* Increased margin-top for buttons */
}

.button-container button.about-button { /* New button class */
  display:        block; /* This will allow the button to respect width and height */
  width:          calc(50% - 10px); /* This will make sure buttons are the same width */
  flex:           1 0 auto;
  margin:         0 5px; /* Add space between buttons */
  box-sizing:     border-box;
  height:         50px; /* Increased height for buttons */
  padding:        0; /* Reset padding */
  line-height:    50px; /* Set line-height equal to height */
  vertical-align: middle; /* Align text vertically */
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .about-description {
    font-size: 0.7em; /* Reduce font size */
  }
  
  .about-product {
    width: 95%; /* Increase width */
  }
  
  .about-product h1, .about-product p {
    font-size: 0.8em; /* Reduce font size */
  }
  
  .about-product img {
    width:  100%; /* Increase width */
    height: auto; /* Let height adjust naturally */
  }
  
  .button-container {
    flex-direction: column; /* Stack buttons vertically */
  }
  
  .button-container button.about-button {
    width:  100%; /* Increase button width */
    height: auto; /* Let height adjust naturally */
    margin: 5px 0; /* Adjust margin */
  }
}
/* ________________________________________ */
