/* FILE: components/footer/footer.css */

.footer {
  list-style-type: none;
  padding: 10px 30px;
  background-color: #0f1111;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 80px; /* Set a fixed height for the footer */
}

.footer-content {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 100%; /* Use the full width of the parent */
}

.footer p {
  margin: 0;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: #ff9900;
}

.github {
  width: 20px;
  border-radius: 50%;
  vertical-align: middle;
}
